*{
  margin: 0;
  padding: 0;  
}
body{
    background-color:rgb(24, 53, 53);
    background-size: auto;
    height: 100vh;
    color: #fff;
    font-family: verdana, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
}
.portifoleo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.div_topo{
    display: flex;
    flex-direction: column;
}
.div_h1{
    text-align: justify;
    padding: 50px;
    font-size: 30px;
}
.div_h2{
    width: 70%;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px;
    text-align: left;
}
.div_img{
    width: 200px;
    height: 200px;
    margin-left: 50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.a_github{
    text-decoration: none;
    text-align: left;
    padding-left: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}