*/*.json
*.json
**/*.json
.json
*/*.venv
*.venv
**/*.venv
.venv
.jpeg
*/*.jpeg
*.jpeg
**/*.jpeg
.jpeg
*.jpg
*/*.jpg
*.jpg
**/*.jpg
.jpg
*/*.png
*.png
**/*.png
.png
*/*.gif
*.gif
**/*.gif
.gif
*/*.svg
*.svg
**/*.svg
.svg
*/*.ico
*.ico
**/*.ico
.ico
*/*.eot
*.eot
**/*.eot
.eot
*/*.ttf
*.ttf
**/*.ttf
.ttf
*/*.woff
*/*.bmp
*.bmp
**/*.bmp
.bmp
*/*.bmp
*/*.pnm
*.pnm
**/*.pnm
.pnm
*/*.pnm
*/*.eps
*.eps
**/*.eps
.eps
*/*.eps
*/*.pcx
*.pcx
**/*.pcx
.pcx
*/*.pcx
*/*.pdf
*.pdf
**/*.pdf
.pdf
*/*.pdf
*/*.ppm
*.ppm
**/*.ppm
.ppm
*/*.ppm
*/*.tga
*.tga
**/*.tga
.tga
*/*.tga
*/*.tiff
*.tiff
**/*.tiff
.tiff
*/*.tiff
*/*.webp
*.webp
**/*.webp
.webp
*/*.webp

__pycache__/
.env

.pkl/
MySQL/
*.sql
